{% extends "base.html" %}
{% block context %}
    <p>
        На данном сайте Вы можете размещать свои фотогографии.<br>
        PS: Фото модерируются админом после размещения на сайте
    </p>
    <p>
        Хотите добавить свою классную фоточку в ленту, просто отсавьте ссылку на изображение<br>
    </p>
    <form method="POST">
        <div class="form-group">
            <label for="name">Ваше имя</label>
            <input type="name" class="form-control" id="name" name="name" 
            placeholder="Сюда писать имя" value="{%if session['user']%}{{session['user']['name']}}{%endif%}">
            <small id="nameHelp" class="form-text text-muted">Постарайся назваться покруче, тут все таки модное место</small>
        </div>

        <div class="form-group">
            <label for="img_link">Ссылка на фото</label>
            <input typecontainer="img_link" class="form-control" id="img_link" name="img_link" placeholder="Сюда вставь ссылку на фоточку">
            <small id="img_linkHelp" class="form-text text-muted">Смотри, чтобы она была классная</small>
        </div>
        <button type="submit" class="btn btn-primary">Поделиться</button>
    </form>
    {% if items %}
        {% for item in items %}
            <div class="row">
                <div class="col-4 offset-4" style="padding: 15px 0;">
                    <div class="card">
                        <h5 class="card-header">{{ item.0 }} {%if session['user']%}
                        {%if session['user']['name'] == item.0 or session['user']['name'] == 'admin'%} 
                            <a href="/del/{{item.2}}">Удалить</a>
                        {%endif%}
                        {%endif%}</h5>
                        <img class="card-img-top" src={{ item.1 | safe }}>
                    </div>
            </form> </div>
            </div>
        {% endfor %}
    {% else %}
        <p>
          Фоток еще нет( Я что зря старался?((((
        </p>
    {% endif %}    
{% endblock context %}