{% extends "base.html" %}
{% block context %}
    <h1>Сообщения:</h1><br>
    <a href="/igram">На главную</a>
    <div>
        <h3>Отправить сообщение</h3>
        <form method="POST">
            <div class="form-group">
                <label for="consumer">Получатель:</label>
                <input type="text" class="form-control" id="consumer" name="consumer">
            </div>

            <div class="form-group">
                <label for="text">Текст сообщения</label>
                <input type="text" class="form-control" id="text" name="text">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div>
        {% for msg in msgs %}
            <div class="msg" style="padding: 15px;">
                <p>От: {{msg.0}}</p>
                <p>Текст: {{msg.1}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock context %}