<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Igram</title>
    {% endif %}
  </head>
  <body style="background-color: #f3f3f3;">
    <div style="display: flex;">
      <h1 style="margin: auto;"> IGRAM </h1>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      {% if session['user'] %}
        <div>
        Вы вошли как: {{ session['user']['name'] }}
        <a href="/igram/logout">Выйти</a><br>
        <a href="/igram/changePass">Сменить пароль</a><br>
        <a href="/igram/msg">Сообщения</a><br>
      {% else %}
        <div>
          <form class="form-inline" method="POST" action="/igram/login" >
            <label class="sr-only" for="name">Имя</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name" name="name" placeholder="Имя">

            <label class="sr-only" for="passwd">Пароль</label>
            <input type="password" class="form-control mb-2 mr-sm-2" id="passwd" name="passwd" placeholder="Пароль">
            <button type="submit" class="btn btn-primary mb-2">Войти</button>
          </form>
          <a href="/igram/registr">Регистрация</a>
        </div>
      {% endif %}
    </div>
    <div class="container">
      {% block context %}
      
      {% endblock context %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>