{% extends "base.html" %}
{% block context %}
    <h1>Смена пароля</h1><br>
    <form method="POST">
        <div class="form-group">
            <label for="new_pass">Новый пароль</label>
            <input type="password" class="form-control" id="new_pass" name="new_pass">
        </div>

        <div class="form-group">
            <label for="new_pass2">Подтверждение пароля</label>
            <input type="password" typecontainer="new_pass2" class="form-control" id="new_pass2" name="new_pass2">
            <small id="new_pass2Help" class="form-text text-muted">Пароли должны совпадать</small>
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
{% endblock context %}