{% extends "base.html" %}
{% block context %}
    <h1>Регистрация</h1><br>
    <form method="POST">
        <div class="form-group">
            <label for="name">Имя пользователя</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock context %}